<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Engine App</title>
</head>
<body>
<h1>Projeto Upgrade do JAVA e Spring-boot</h1>
<h2>Config</h2>

<table style="width:100%">
    <tr>
        <th>Descrição</th>
        <th>Versão</th>
    </tr>
    <tr>
        <td align="center">Java</td>
        <td align="center" th:text="${java}"></td>
    </tr>
    <tr>
        <td align="center" >Spring-boot</td>
        <td align="center" th:text="${spring}"></td>
    </tr>
    <tr>
        <td align="center">Spring-boot-parent</td>
        <td align="center" th:text="${parent}"></td>
    </tr>
</table>
</body>
</html>

