<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Engine App</title>
</head>
<body>
<h1>Projeto Upgrade do JAVA e Spring-boot</h1>
<h2>Config</h2>

<table style="width:100%">
    <tr>
        <th>Descrição</th>
        <th>Versão</th>
    </tr>
    <tr>
        <td>Java</td>
        <td>"{$java}"</td>
    </tr>
    <tr>
        <td>Spring-boot</td>
        <td>"{$spring-boot}"</td>
    </tr>
    <tr>
        <td>Spring-boot-parent</td>
        <td>"{$parent}"</td>
    </tr>
</table>
</body>
</html>
